# Telegram Bot Token from @BotFather
TELEGRAM_BOT_TOKEN=8552821034:AAElrpnkceOcwtLTuIYpvUnU10cIhYx3HBM

# MongoDB Connection String from MongoDB Atlas
MONGODB_URI=mongodb+srv://sjorgin22_db_user:irejZRJVi06lBmHR@telegram.ok94m5b.mongodb.net/?appName=telegram

# Admin Telegram User IDs (comma separated)
ADMIN_IDS=8552821034,7376275585

# Channel IDs for force join
CHANNEL_1_ID=-1003223807749
CHANNEL_2_ID=-1002649287732
CHANNEL_3_ID=-1003156703976
CHANNEL_4_ID=-1003223807749
CHANNEL_4_ID=-1003156703976
